div#intern_container{ border:#000 1px solid; padding:10px 40px 40px 40px; margin-left: 200px; margin-right: 200px;margin-top: 50px;}



#intern_question {
    margin-top:5px;
    background: lightgrey;
    padding: 10px; 
    margin-bottom:5px;
   
}